@model budgetApp.Models.ReportModel
<head>
    <link type="text/javascript" href="/js/site.js" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body onload="loadScript()">
<h2>@ViewBag.Msg</h2>

<form asp-controller="Home" method="post" id="reportForm" role="form">
    <table class="table table-sm">
        <tr>
            <td>
                Category
            </td>
            <td>
                @Html.DropDownListFor(x => x.category, Model.categories)
            </td>
            <td>
                Period
            </td>
            <td>
                @Html.DropDownListFor(x => x.period, Model.periods)
            </td>
            <td>
                <button type="submit" class="btn btn-outline-primary">View</button>
            </td>
        </tr>

    </table>
    
</form>
@Html.Raw(Model.strHTMLTable)
<input type="checkbox" id="chkEditable" value="false" hidden />
</body>
<script>
function checkEditState() {
    if(document.getElementById("chkEditable").checked){
        document.getElementById("editStateHead").innerHTML = "<img src=\"/lib/images/lock.jpg\" class=\"img-header\" onclick=\"checkEditState()\"/>"
        //flip checkbox
        document.getElementById("chkEditable").checked = false;
        setEditVisibility(false)

    }else{
        document.getElementById("editStateHead").innerHTML = "<img src=\"/lib/images/unlock.jpg\" class=\"img-header\" onclick=\"checkEditState()\"/>"
        document.getElementById("chkEditable").checked = true;
        setEditVisibility(true)
    }
}
function setEditVisibility(blnVisible){
    var table = document.getElementById("reportTable");
    for(let i = 0; i < table.rows.length - 1; i++){
        if(blnVisible){
            document.getElementById("edt" + i).setAttribute("class", "btn btn-warning btn-sm btn-row");
            document.getElementById("del" + i).setAttribute("class", "btn btn-danger btn-sm btn-row");
        }else{
            document.getElementById("edt" + i).setAttribute("class", "btn btn-secondary btn-sm btn-row");
            document.getElementById("del" + i).setAttribute("class", "btn btn-secondary btn-sm btn-row");
        }
    }
}
function editEntry(e, t){
    if(document.getElementById("chkEditable").checked){
        if(confirm("Change Entry?")){
            var url = "editEntry";
            $.post(url, function(data){
                if(data){
                    alert("sucessfully edited entry...");
                    location.reload();
                }else{
                    alert("something went wrong, no changes made.");
                }
            });
        }
    }
    
}
function deleteEntry(e, id){
    if(document.getElementById("chkEditable").checked){
        if(confirm("Delete Entry?")){
            //we have to get the entryID of the entry we want to delete. First lets get the row number from the id of the button that fired this event
            var x = id.replace('d','');
            x = x.replace('e','');
            x = x.replace('l', '');
            //now we can get the value out of the entryID column in row number x
            var entryID = parseInt(document.getElementById("entryID" + x).innerHTML);
            alert(entryID);
            // we need to post the id of the entry to delete to the controller
            var url = "deleteEntry?entryID=" + entryID;
            $.post(url, function(data){
                if(data){
                    alert("entry has been deleted... or this will work once I do the npgsqlTransaction correctly.");
                    location.reload();
                }else{
                    alert("something went wrong, entry not deleted.");
                }
            });
        }else{
            return;
        }
    }
}
function loadScript(){
    checkUserSession();
    setEditVisibility(false);
}
</script>