@model budgetApp.Models.ReportModel
<head>
    <link type="text/javascript" href="/js/site.js" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body onload="loadScript()">
<h2>@ViewBag.Msg</h2>

<form asp-controller="Home" method="post" id="reportForm" role="form">
    <table class="table table-sm" id="tblReport" style="width: 75%;">
        <tr>
            <th class="th-md">
                Category
            </th>
            <td>
                @Html.DropDownListFor(x => x.category, Model.categories)
            </td>
            <th class="th-md">
                Period
            </th>
            <td>
                @Html.DropDownListFor(x => x.period, Model.periods)
            </td>
            <td>
                <button type="submit" class="btn btn-outline-primary">View</button>
            </td>
        </tr>

    </table>
    
</form>
@Html.Raw(Model.strHTMLTable)
</body>
<script>


function editEntry(e, t){
  //this function is called first time the edit button is hit. We need to change change all of this rows
  //columns to textboxes
       
    
}
function changeEntry(e, t){
    if(confirm("Change Entry?")){
            var url = "editEntry";
            $.post(url, function(data){
                if(data){
                    alert("sucessfully edited entry...");
                    location.reload();
                }else{
                    alert("something went wrong, no changes made.");
                }
            });
        }
}
function deleteEntry(e, id){
        if(confirm("Delete Entry?")){
            //we have to get the entryID of the entry we want to delete. First lets get the row number from the id of the button that fired this event
            var x = id.replace('d','');
            x = x.replace('e','');
            x = x.replace('l', '');
            //now we can get the value out of the entryID column in row number x
            var entryID = parseInt(document.getElementById("entryID" + x).innerHTML);
            alert(entryID);
            // we need to post the id of the entry to delete to the controller
            var url = "deleteEntry?entryID=" + entryID;
            $.post(url, function(data){
                if(data){
                    alert("Entry has been deleted.");
                    location.reload();
                }else{
                    alert("Something went wrong, entry not deleted.");
                }
            });
        }else{
            return;
        }
}
function popup(count){
    //we want to have a popup right by the clicked on table row that will have a delete and edit button
    //get row
    var col = document.getElementById("colEdit" + count);
    col.style.display = "block";
}


</script>