
@model budgetApp.Models.UserModel
<head>
    <link type="text/javascript" href="/js/site.js" />
</head>
<body>
<h2 style="color:red;">@ViewBag.Msg</h2>
<form asp-controller="Home" method="post" id="signUpForm" role="form" onsubmit="preSubmitCheck()">
    <table class=table>
        <tr>
            <td class="td-right">
                <p>Username:</p>
            </td>
            <td>
                @Html.TextBoxFor(x=>x.username, new {@id="txtUsername"})
            </td>
        </tr>
        <tr>
            <td class="td-right">
                <p>Password:</p>
            </td>
            <td>
                @Html.TextBoxFor(x=>x.password, new {@id="txtPassword", @type="password"})
            </td>
        </tr>
        <tr>
            <td class="td-right">
                <p>Stay Signed in <input type="checkbox" id="chkRemember" /></p>
            </td>
            <td>
                <button type="button" onclick="preSubmitCheck()" class="btn btn-outline-success btn-lg">Sign In</button>
            </td>
        </tr>
        </table>
</form>
    <div style="text-align: center;">
        <p>Don't have an account? @Html.ActionLink("Sign Up", "signUp")</p>
    </div>
</body>

<script>
function checkFields(){
        if(document.getElementById("txtUsername").value.length > 2){
            if(document.getElementById("txtPassword").value.length > 7){
                return true;
            }else{
                alert("Password cannot be empty.");
                return false;
            }
        }else{
            alert("Username cannot be empty.");
            return false;
        }
    }
function preSubmitCheck(){
   
    if(checkFields()){
        
        if(document.getElementById("chkRemember").checked){
            generateUserCookie(document.getElementById("txtUsername").value, true);
        }else{
            generateUserCookie(document.getElementById("txtUsername").value, false);
        }
        if(!generateSessionCookie()){

        }
        //submit the form
        document.getElementById("signUpForm").submit();
        return true;
    }else{
        return false;
    }
}
</script>