html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.th-md {
    max-width: 20%;
    overflow: hidden;
    
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-md {
    text-align: center;
    overflow: hidden;
   
    word-wrap: break-word;
    vertical-align: middle;
}