html {
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  margin: x;
}
body {
  margin-bottom: 60px;
  margin-top: 0;
}
.th-md {
    max-width: 20%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 3px solid black;
}
.td-md {
    text-align: center;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-wrap: break-word;
    vertical-align: middle;
}
.th-img {
    max-width: 20%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 3px solid black;
}
.img-header{
    width: 12%;
}
.btn-row {
    width: 20%;
    height: auto;
}

header h1{
    margin: 0;
}